@media only screen and (max-width: 768px) {
  .desc {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .category {
    height: unset;
  }
  .body-banner {
    height: unset;
  }
}
