@font-face {
  font-family: "IranianSans";
  src: url("../fonts/IranianSans.ttf") format("truetype");
}
nav {
  padding-right: 3rem;
  padding-left: 3rem;
}
* {
  box-sizing: border-box;
  font-family: IranianSans, Arial, sans-serif;
  font-size: 14px;
}
.search-box,
.search-box:focus {
  border: none;
  background: inherit;
  box-shadow: none;
  outline: none;
}
.search-container {
  background-color: #f5f5f5;
  border-radius: 30px;
}
a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}
ul {
  list-style: none;
}
a li {
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  list-style: none;
  color: #212529;
}
.mega-menu-content {
  margin-top: 10px;
  background-color: #f5f5f5;
  color: #212529;
  display: none;
  max-height: 250px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: right;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.mega-menu-btn {
  background-color: inherit;
  border: none;
}
.mega-menu-col a {
  margin-top: 15px;
  margin-bottom: 10px;
}
.mega-menu-btn:hover .mega-menu-content {
  display: inline-flex;
}
.img-container {
  background: lightgray;
  border-radius: 13px;
}
.inform-icon {
  margin-top: -50px;
  z-index: 10;
  position: relative;
  background-color: white;
  border-radius: 30px 30px 0 0;
}
.category {
  height: 500px;
}
.category img {
  border-radius: 5px;
  object-fit: cover;
  height: 100%;
}
.img-slidebar {
  width: 100%;
  border-radius: 5px;
}
.slide-item {
  position: relative;
}
.sp-slide {
  position: absolute;
  top: 30%;
  left: 10px;
}
.slide-bar {
  display: block;
  position: sticky;
  height: fit-content;
  top: 0;
  right: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-btn,
.swiper-btn::after {
  font-size: 20px !important;
  color: #595959;
}
.swiper-pagination-bullet-active {
  background-color: #595959;
}
.card {
  border: none;
}
.card-title {
  font-size: 14px;
  font-weight: bold;
}
.btn-light {
  color: rgb(0, 0, 49);
  background-color: #e2e2e0;
  border-color: #e2e2e0;
}
.btn-light:hover {
  color: #e2e2e0;
  background-color: rgb(42, 42, 73);
  border-color: rgb(42, 42, 73);
}
.discount-per {
  position: absolute;
  top: 5%;
  right: 7%;
  background-color: #3e4ddb;
  color: #fff;
  border-radius: 4px;
  padding: 2.5px 7px;
  font-size: 12px;
}
.discount-per span {
  font-size: 12px;
}
.last-price span {
  text-decoration: line-through;
  color: rgb(88, 87, 87);
  font-size: 10px;
}
.body-banner img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
.body-banner {
  height: 150px;
}
.mySwiperNewProduct .swiper-btn {
  padding: 0 15px 0 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.main-body-products .card .btn {
  opacity: 0;
}
.main-body-products .card:hover .btn {
  opacity: 100;
}
